<div class="app" style="width: max-content;">
  <div class="header" style="display: inline-block;float: left;margin-left: 40px;">
    <div>
      <span>Кол-во узлов</span>
      <input style="width: 30px;margin-bottom: 20px;margin-left: 20px;" type="number" [(ngModel)]="nodesNumber" (change)="newMatrix()">
    </div>
    <div>
      <div *ngFor="let line of nodes;let z = index;" style="width: 30px;text-align: center;
        display: inline-block; padding: 0; margin-right: 10px; margin-bottom: 10px;">{{z}}</div>От
      <div *ngFor="let line of nodes;let i = index;" style="display: block;">
        <div *ngFor="let item of line;let j = index;" style="display: inline-block;text-align: center;position: relative;" [ngStyle]="{'right': i > 9 ? '17px' : '9px' }">
          <div style="display: inline-block;position: relative;right: 10px;"  *ngIf="j==0">{{i}}</div>
          <input *ngIf="i!=j" style="    width: 30px;text-align: center;
          padding: 0;
          margin-right: 10px;
          margin-bottom: 10px;" type="number" [(ngModel)]="nodes[j][i]">
          <div *ngIf="i==j" style="    width: 30px;text-align: center;
          padding: 0;
          margin-right: 10px;
          margin-bottom: 10px;display: inline-block;">x</div>
        </div>
        
      </div>
      <div style="position: relative;right: 30px;">До</div>
    </div>
  </div>
    <div class="Body" style="display: inline-block;    margin-left: 20px;">
  
    <div style="display: inline-block;">
      <button style="display: inline-block; margin-left: 20px;position: relative; left: 39%; margin-bottom: 10px;" (click)="plotGraph()">Показать граф</button>
      <div id="canvas" style="background-color: white;overflow: hidden; "></div>
    </div>
    
    <div style="display: inline-block;position: relative;bottom: 350px;left: 20px;">
      Пути для точек
      <div *ngFor="let item of resultArray">
        {{item}}
      </div>
    </div>
    
    </div>  
      
  </div>
  
 
